
<h1>Posts</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Link</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.author %></td>
    <td><%= post.title %></td>
    <td><a href="/posts/<%=post.id%>">See More</a>
  </tr>
  <% end %>
</table>

<br>
<a href="/posts/new">New Post</a>